@model List<ResultCarFeatureByCarIdDto>

<div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
    <div class="d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <div class="feature-item m-2">
                <li class="feature-box @(item.Available ? "available" : "not-available")">
                    <span class="ion-ios-checkmark"></span>@item.FeatureName
                </li>
            </div>
        }
    </div>
</div>

<style>
    .feature-item li {
        list-style: none;
        padding: 5px 12px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #f8f9fa;
        color: #3498db; 
        font-weight: 500;
        display: inline-block;
    }

        .feature-item li.available span {
            color: #3498db; 
        }

        .feature-item li.not-available {
            color: #ccc; 
            text-decoration: line-through;
        }
</style>
